[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
rpi = {git = "https://github.com/nosix/raspberry-gpio-emulator"}

[requires]
python_version = "3.6"
