[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"

[dev-packages]
rpi = {git = "https://github.com/nosix/raspberry-gpio-emulator"}
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
